@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --header-font :  "Dancing Script", cursive;
    --family-font:  "Raleway", sans-serif;
}
:root{
    --first-color: white;
    --second-color: black;
    --third-color: #6d6d6d;
    --gradient-color:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(128,128,128,1) 39%, rgba(255,255,255,1) 100%);
    --gradient-color2:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 94%);
    --font-color:rgb(56, 68, 71);
}
* {
    scroll-behavior: smooth;
    font-family: var(--family-font);
}
body{
    background: #eeeeee;
    margin: none;
}
.head_img{
    height:60px;
    width: 40px;
    object-fit: contain;
    
}
.header{

    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 40px;
    font-size: 30px;
    font-weight: bolder;
    column-gap: 30px;
    color:var(--font-color);
    

    -webkit-border-radius: 105px;
    border-radius: 105px;
    background: #eeeeee;
    -webkit-box-shadow: 12px 12px 14px #c6c6c6, -12px -12px 14px #ffffff;
    box-shadow: 12px 12px 14px #c6c6c6, -12px -12px 14px #ffffff;
}
#header{
    font-family: var(--header-font);
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head_yr{
    display: flex;
    justify-content: center;
    align-items: center;
}
.head_yr,#header:hover{
    color: black;
    cursor: pointer;
}
@media screen and (min-width: 768px)  {
    .intro{
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 50px;
        column-gap: 40px;
        margin-top: 60px;
    }
    
}
.intro_img{
    height: 600px;
    width: 500px;
    border-radius: 10px;
    transition: all 1s;
}
.intro_img:hover{
    cursor: pointer;
    transform: scale(1.05);
    filter: grayscale(90%);
}
.intro_para{
    font-size: 1.2rem;
    font-weight: bold;
    color:var(--font-color);
    padding-left: 30px;
}
.in_head{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--third-color);
}
.in_clr{
    font-weight: bold;
    color: var(--third-color);

}
.p2_head{
    text-align:center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--third-color);
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 80px;
}
.p2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--third-color);
    font-weight: bold;
}
.par{
    text-align: center;
    padding: 20px;
    padding-left: 50px;
    padding-right:50px;
    width: 1000px;
    height: 40px;
    overflow: hidden;
    transition: all 1s;
    cursor: pointer;
    user-select: none;
    

    -webkit-border-radius: 105px;
    border-radius: 105px;
    background: #eeeeee;
    -webkit-box-shadow: 12px 12px 14px #c6c6c6, -12px -12px 14px #ffffff;
    box-shadow: 12px 12px 14px #c6c6c6, -12px -12px 14px #ffffff;
}
.par:active{
    height: 300px;
}
.par:hover{
    color: black;
    font-size: 2.1rem;
    cursor: pointer;
}
.parasub{
    font-size: 1.4rem;
    color: black;
    font-weight: normal;
}
.para1{
    position: relative;
    right: 40px;
}

.para2{
    position: relative;
    left: 40px;
}
.para3{
    position: relative;
    right: 40px;
}
.para4{
    position: relative;
    left: 40px;
}
.para5{
    position: relative;
    right: 40px;
}
.pic{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}
.pp{
    border-radius: 20px;
    object-fit: cover;
    width: 300px;
    height: auto;
}
.pp:hover{
    transform: scale(1.03);
    cursor: pointer;
    filter: grayscale(100%);
}
.p3_head{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient(to right, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.p3{
    margin-top: 50px;
    padding: 30px;
    column-gap: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    height: 400px;
    width: auto;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 80px;

    background: rgb(255,81,81);
background: linear-gradient(207deg, rgba(255,81,81,1) 0%, rgba(71,119,221,1) 51%, rgba(230,132,72,1) 82%, rgba(219,14,46,1) 100%, rgba(255,255,255,1) 100%);
}
.p3_img{
    object-fit: cover;
    height: 220px;
    width: auto;
    border-radius: 30px;
    box-shadow: 1px 1px 1px 5px rgb(255, 255, 255);
    
}
.p3_common{
    font-size: 1.2rem;
    font-weight:bold;
    color:var(--first-color);
}
.death{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.boxd{
    display: flex;
    cursor: pointer;
    user-select: none;
    position: relative;
    width: 600px;
    height: 600px;
    transform-style: preserve-3d;
    perspective: 1000px;
    justify-content: center;
}
.boxd div{
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
}
.boxd div:nth-child(2){
    transform: rotateY(180deg);
}
.boxd:hover div:nth-child(2){
    transform: rotateY(0deg);
}
.boxd:hover div:nth-child(1){
    transform: rotateY(-180deg);
}
.d_img{
    height: 450px;
    width: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 2px 2px 2px gray;

}
.first{
    display: flex;
    flex-direction:column;
    row-gap: 25px;
    justify-content: center;
    align-items: center;
    width: 900px;
    padding: 50px;
}
#sp{
    font-size: 1.3rem;
    font-weight: bold;
}
.second{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
     height: 500px;
    width: 900px;
    padding: 50px; 
}
.box{
    -webkit-border-radius: 105px;
    border-radius: 105px;
    background: #eeeeee;
    -webkit-box-shadow: 12px 12px 14px #c6c6c6, -12px -12px 14px #ffffff;
    box-shadow: 12px 12px 14px #c6c6c6, -12px -12px 14px #ffffff;
}

@media screen and (max-width: 768px){
    .header{
        width: 700px;
        margin-top: 25px;
          padding: 20px;
          font-size: 15px;
          font-weight: bold;
         column-gap: 15px;
}
#header{
    font-size: 30px;
}

/*pic*/
.pic{
    margin-top: 50px;
}
.pp{
    width: 100px;
    height: auto;
}

/*active*/
.par{
    width: 500px;
    font-size: 1.7rem;
}
.par:active{
    height: 300px;
}
.par:hover{
    color: black;
    font-size: 1.8rem;
    cursor: pointer;
}
.parasub{
    font-size: 1rem;
    color: black;
    font-weight: normal;
}
/*intro*/
.intro_img{
    width: 400px;
    height: auto;
}
.intro_para{
    font-size: 1rem;
    padding-left: 20px;
    width: 650px;
}
.in_head{
    font-size: 1.4rem;
}
.intro{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
/*p3*/
.p3{
    margin-top: 20px;
    padding: 20px;
    column-gap: 10px;
   
    height: 300px;
    width: auto;
    
    margin-bottom: 20px;
    border-radius: 40px;
}
.p3_img{
   
    height: 100px;
    width: auto;
    border-radius: 20px;
}
.p3_common{
    font-size: 0.9rem;
}
.death{
    height: 300px;
    margin-bottom: 50px;
}
.boxd{
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    perspective: 1000px;
    justify-content: center;
}
.d_img{
    height: 250px;
    width: auto;

}
.first{
    row-gap: 15px;
    width: 450px;
    padding: 20px;
}
#sp{
    font-size: 1rem;
    font-weight: bold;
}
.second{
    font-size: 1.1rem;
    font-weight: bold;
     height: 300px;
    width: 400px;
    padding: 50px; 
}
}


@media screen and (max-width: 415px ){
    .header{
        width:350px;
        margin-top: 15px;
          padding: 20px;
          font-size: 10px;
          font-weight: bold;
         column-gap: 10px;
}
#header{
    font-size: 15px;
}

/*pic*/
.pic{
    margin-top: 30px;
    margin: 10px;
}
.pp{
    width: 100px;
    height: auto;
}

/*active*/
.par{
    width: 300px;
    height: 30px;
    font-size: 1.2rem;
    position: static;
}
.par:active{
    height: 200px;
}
.par:hover{
    color: black;
    font-size: 1.3rem;
    cursor: pointer;
}
.parasub{
    font-size: .8rem;
    color: black;
    font-weight: normal;
}
/*intro*/
.intro_img{
    width: 300px;
    height: auto;
}
.intro_para{
    font-size: 1rem;
    padding-left: 20px;
    width: 400px;
}
.in_head{
    font-size: 1rem;
}
.intro{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
/*p3*/
.p3{
    margin-top: 20px;
    padding: 20px;
    column-gap: 10px;
   
    height: 200px;
    width: auto;
    
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: .5rem;
    display: none;
}
.p3_img{
   
    height: 100px;
    width: auto;
    border-radius: 20px;
}
.p3_common{
    font-size: 0.9rem;
}
.death{
    height: 200px;
    margin-bottom: 50px;
}
.boxd{
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    perspective: 1000px;
    justify-content: center;
}
.d_img{
    height: 100px;
    width: auto;

}
.first{
    row-gap: 15px;
    width: 200px;
    padding: 20px;
}
#sp{
    font-size: 1rem;
    font-weight: bold;
}
.second{
    font-size: .8rem;
    font-weight: bold;
     height: 300px;
    width: 200px;
    padding: 30px; 
}
.box{
    border-radius: 10px;
}
}


